*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  background:#0f172a;
  color:white;
}

.container{
  padding:30px;
  text-align:center;
}

h1{
  margin-bottom:20px;
  color:#38bdf8;
}

input{
  width:320px;
  max-width:90%;
  padding:12px;
  border:none;
  outline:none;
  border-radius:8px;
  margin-bottom:30px;
  font-size:16px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:20px;
}

.card{
  background:#1e293b;
  padding:20px;
  border-radius:15px;
  transition:.3s;
  box-shadow:0 5px 15px rgba(0,0,0,.3);
}

.card:hover{
  transform:translateY(-8px);
}

.card img{
  width:90px;
  height:60px;
  object-fit:cover;
  border-radius:6px;
  margin-bottom:15px;
}

.card h2{
  margin-bottom:15px;
}

.card p{
  color:#cbd5e1;
  margin-top:10px;
}

.green{
  color:#22c55e;
}

.red{
  color:#ef4444;
}

.blue{
  color:#38bdf8;
}
